
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="kmbHintButtons">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/hint.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ng-kmb-hint-buttons.js"></script>
</head>
<body>
    <div class="container" style="padding:100px;">
        <div class="row">

            <button popup-bottom="Bu bir denemedir." type="button" icon="ok" btn-success popup-success popup-bounce popup-rounded popup-large>
                Test
            </button>

            <a href="#" icon="remove" popup-right="Ürün silinecektir." btn-danger popup-danger popup-bounce popup-rounded popup-medium>
                content
            </a>

        </div>
    </div>
</body>
</html>
